<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="ft" xsi:type="File"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss} [${level}] ${message} ${exception:format=tostring}"
        fileName="${basedir}/logs/${shortdate}.log"
        archiveFileName="${basedir}/logs/{#}.log"
        archiveEvery="Day"
        maxArchiveFiles="7" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="ft" />
  </rules>
</nlog>